Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": "prettier --write"
}

chore: Update description & readme
  README.md
  package.json
Due: prettier --write

fix: Update package.json repo field
  package.json
Due: prettier --write

chore: Set package.json npm package to public
  .release-it.json
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.1
  package.json
Due: prettier --write

chore: Readme updates
  README.md
Due: prettier --write

Chore: release v0.0.1-alpha.2
  package.json
Due: prettier --write

chore: Update package.json
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.3
  package.json
Due: prettier --write

chore: Update readme
  README.md
Due: prettier --write

Chore: release v0.0.1-alpha.4
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.5
  package.json
Due: prettier --write

feat: Add `getSubstrateChain` function
  docs/assets/search.js
  docs/functions/UseInkathonProvider.html
  docs/functions/getSubstrateChain.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/polkadot.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/westend.html
  src/chains.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.6
  package.json
Due: prettier --write

feat: Add Substrate wallet type, definitions, and logo assets
  .prettierrc.js
  assets/wallet-logos/nova@128w.png
  assets/wallet-logos/nova@512w.png
  assets/wallet-logos/polkadot@128w.png
  assets/wallet-logos/polkadot@512w.png
  assets/wallet-logos/subwallet@128w.png
  assets/wallet-logos/subwallet@512w.png
  assets/wallet-logos/talisman@128w.png
  assets/wallet-logos/talisman@512w.png
  docs/assets/search.js
  docs/enums/SubstrateWalletPlatform.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/useInkathon.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  src/index.ts
  src/wallets.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.7
  package.json
Due: prettier --write

chore: Update readme with features list
  README.md
Due: prettier --write

chore: Switch to esm-only module & update dependencies
  .prettierrc
  .prettierrc.js
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint --fix, prettier --write

chore: Minor readme change
  README.md
Due: prettier --write

feat: Add a simple `useContract` hook for given abi & address
  src/hooks/index.ts
  src/hooks/useContract.ts
Due: eslint --fix, prettier --write

feat: Add a registry for contract deployments
  src/index.ts
  src/provider.tsx
  src/registry.ts
Due: eslint --fix, prettier --write

feat: Add a `useRegisteredContract` shorthand for contracts from the registry
  src/hooks/useRegisteredContract.ts
Due: eslint --fix, prettier --write

feat: Add a simple account comparison helper
  src/helpers/accountsAreEqual.ts
  src/helpers/index.ts
Due: eslint --fix, prettier --write

chore: Update docs
  .gitignore
  docs/assets/search.js
  docs/enums/SubstrateWalletPlatform.html
  docs/functions/UseInkathonProvider.html
  docs/functions/accountsAreEqual.html
  docs/functions/getDeployment.html
  docs/functions/getSubstrateChain.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/useContract.html
  docs/functions/useInkathon.html
  docs/functions/useRegisteredContract.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  docs/variables/westend.html
Due: eslint --fix, prettier --write

feat: Add `useBalance` hook for a given address
  docs/assets/search.js
  docs/enums/SubstrateWalletPlatform.html
  docs/functions/UseInkathonProvider.html
  docs/functions/getDeployment.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/useBalance.html
  docs/functions/useContract.html
  docs/functions/useInkathon.html
  docs/functions/useRegisteredContract.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  docs/variables/westend.html
  package.json
  pnpm-lock.yaml
  src/hooks/index.ts
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

feat: Improve connection error handling
  docs/assets/search.js
  docs/enums/SubstrateWalletPlatform.html
  docs/functions/accountsAreEqual.html
  docs/functions/getDeployment.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/useBalance.html
  docs/functions/useContract.html
  docs/functions/useInkathon.html
  docs/functions/useRegisteredContract.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  docs/variables/westend.html
  src/provider.tsx
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.8
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.9
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.9
  README.md
  package.json
Due: prettier --write

feat: Add helper to compare arrays of accounts
  src/helpers/accountsAreEqual.ts
Due: eslint --fix, prettier --write

feat: Improve connection states/errors & account initialization
  docs/assets/highlight.css
  docs/assets/search.js
  docs/enums/SubstrateWalletPlatform.html
  docs/enums/UseInkathonError.html
  docs/functions/UseInkathonProvider.html
  docs/functions/accountArraysAreEqual.html
  docs/functions/accountsAreEqual.html
  docs/functions/getDeployment.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/useBalance.html
  docs/functions/useContract.html
  docs/functions/useRegisteredContract.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  docs/variables/westend.html
  src/provider.tsx
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.10
  package.json
Due: prettier --write

fix: Use internal `updateAccounts` method on disconnects
  src/provider.tsx
Due: none

Chore: release v0.0.1-alpha.11
  package.json
Due: prettier --write

chore: Minor comment cleanings
  src/provider.tsx
Due: none

fix: Update signer correctly
  docs/enums/SubstrateWalletPlatform.html
  docs/enums/UseInkathonError.html
  docs/functions/UseInkathonProvider.html
  docs/functions/accountArraysAreEqual.html
  docs/functions/accountsAreEqual.html
  docs/functions/getDeployment.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/useBalance.html
  docs/functions/useContract.html
  docs/functions/useInkathon.html
  docs/functions/useRegisteredContract.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  docs/variables/westend.html
  package.json
  src/provider.tsx
Due: prettier --write

feat: Supply human-readable message for each error
  docs/assets/search.js
  docs/enums/SubstrateWalletPlatform.html
  docs/enums/UseInkathonErrorCode.html
  docs/functions/UseInkathonProvider.html
  docs/functions/accountArraysAreEqual.html
  docs/functions/accountsAreEqual.html
  docs/functions/getDeployment.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/useBalance.html
  docs/functions/useContract.html
  docs/functions/useInkathon.html
  docs/functions/useRegisteredContract.html
  docs/index.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonError.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/modules.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/kusama.html
  docs/variables/nova.html
  docs/variables/polkadot.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
  docs/variables/westend.html
  src/provider.tsx
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.12
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.13
  package.json
Due: prettier --write
