Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": "prettier --write"
}

Chore: release v0.0.1-alpha.50
  package.json
Due: prettier --write

feat: Add improved `formatBalance` helpers & update balance hooks accordingly
  src/helpers/formatBalance.ts
  src/helpers/getBalance.ts
  src/helpers/index.ts
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.51
  package.json
Due: prettier --write

feat: Add `aleph-zero-signer` wallet extension
  assets/wallet-logos/aleph-zero-signer@128w.png
  assets/wallet-logos/aleph-zero-signer@512w.png
  src/wallets.ts
Due: eslint --fix, prettier --write

feat: Wallet logo consistency update
  assets/wallet-logos/aleph-zero-signer@128w.png
  assets/wallet-logos/aleph-zero-signer@512w.png
  assets/wallet-logos/nova@128w.png
  assets/wallet-logos/nova@512w.png
Due: none

Chore: release v0.0.1-alpha.52
  package.json
Due: prettier --write

feat: Improve detection of Nova Wallet
  src/wallets.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1
  package.json
Due: prettier --write

feat: Add pre-calculated `reducibleBalance`
  src/helpers/contractCall.ts
  src/helpers/getBalance.ts
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.2
  package.json
Due: prettier --write

feat: Add support for Nightly Wallet browser extension
  assets/wallet-logos/nightly@128w.png
  assets/wallet-logos/nightly@512w.png
  src/wallets.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.3
  package.json
Due: prettier --write

feat: Add Nightly Wallet to `allSubstrateWallets` list
  src/wallets.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.4
  package.json
Due: prettier --write

Chore: release v0.0.5
  package.json
Due: prettier --write

feat: Improve Nightly Wallet connection behavior
  src/provider.tsx
  src/wallets.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.6
  package.json
Due: prettier --write

feat: Update wallet logo assets
  assets/wallet-logos/aleph-zero-signer@128w.png
  assets/wallet-logos/aleph-zero-signer@512w.png
  assets/wallet-logos/nightly@128w.png
  assets/wallet-logos/nightly@512w.png
  assets/wallet-logos/nova@128w.png
  assets/wallet-logos/nova@512w.png
  assets/wallet-logos/polkadot@128w.png
  assets/wallet-logos/subwallet@128w.png
  assets/wallet-logos/subwallet@512w.png
Due: none

feat: Improve balance formatting with fixed decimals
  src/helpers/formatBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.7
  package.json
Due: prettier --write

chore: Update formatting
  .prettierrc
  .vscode/extensions.json
  README.md
  src/chains.ts
  src/helpers/accountsAreEqual.ts
  src/helpers/contractCall.ts
  src/helpers/decodeOutput.ts
  src/helpers/deployContract.ts
  src/helpers/formatBalance.ts
  src/helpers/getGasLimit.ts
  src/helpers/initPolkadotJs.ts
  src/helpers/transferBalance.ts
  src/hooks/useRegisteredContract.ts
  src/provider.tsx
  src/registry.ts
  src/wallets.ts
Due: eslint --fix, prettier --write

feat: Add more pre-formatted values to balance helpers
  src/helpers/getBalance.ts
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.8
  package.json
Due: prettier --write

chore: Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Add getPSP22Balances and usePSP22Balances
  assets/asset-logos/inw.png
  assets/asset-logos/panx.png
  src/PSP22Asset.json
  src/helpers/formatBalance.ts
  src/helpers/getAbi.ts
  src/helpers/getGasLimit.ts
  src/helpers/getPSP22Balances.ts
  src/helpers/index.ts
  src/hooks/index.ts
  src/hooks/usePSP22Balances.ts
  src/psp22_abi.json
  src/types.ts
Due: eslint --fix, prettier --write

feat: Improvements on balance subscriptions
  src/helpers/getPSP22Balances.ts
  src/hooks/usePSP22Balances.ts
Due: eslint --fix, prettier --write

feat: More improvements to properly watch balances
  src/helpers/getPSP22Balances.ts
  src/hooks/usePSP22Balances.ts
Due: eslint --fix, prettier --write

chore: Add workflow that adds issues/prs to project
  .github/workflows/add-to-project.yml
Due: prettier --write

feat: Small fixes and improvements
  src/PSP22Asset.json
  src/helpers/getAbi.ts
  src/helpers/getPSP22Asset.ts
  src/helpers/getPSP22Balances.ts
  src/helpers/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

feat: Remove all `docs` attributes and minify json
  src/psp22_abi.json
Due: prettier --write

feat: more fixes and improvements
  src/PSP22Asset.json
  src/helpers/getAbi.ts
  src/helpers/getPSP22Balances.ts
  src/types.ts
Due: eslint --fix, prettier --write
