Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

update mini thing
  package.json
  pnpm-lock.yaml
Due: prettier --write

update
  package.json
  pnpm-lock.yaml
Due: prettier --write

local storage set and get for account + extension
  src/provider.tsx
Due: none

adding toast context
  examples/react-ts/src/components/PurchaseInteractor.tsx
  examples/react-ts/src/components/Toasts/Snackbar.tsx
  examples/react-ts/src/components/Toasts/ToastBar.tsx
  examples/react-ts/src/components/Toasts/ToastContent.tsx
  examples/react-ts/src/main.tsx
  package.json
  pnpm-lock.yaml
  src/ToastContext.tsx
  src/Toasts/Snackbar.tsx
  src/Toasts/ToastBar.tsx
  src/Toasts/ToastContent.tsx
  src/chains.ts
  src/hooks/broker/txButton.ts
  src/provider.tsx
  src/types/UseInkathonProviderContext.ts
  src/utils/broker_handler.ts
  src/utils/broker_tx.ts
Due: eslint --fix, prettier --write

toasts work nicely
  examples/react-ts/src/components/Toasts/Snackbar.tsx
  examples/react-ts/src/components/Toasts/ToastBar.tsx
  examples/react-ts/src/components/Toasts/ToastContent.tsx
  package.json
  src/Toasts/Snackbar.tsx
  src/Toasts/ToastBar.tsx
  src/Toasts/ToastContent.tsx
  src/provider.tsx
  src/types/UseInkathonProviderContext.ts
Due: eslint --fix, prettier --write

adding tx success
  package.json
  src/ToastContext.tsx
  src/Toasts/Snackbar.tsx
  src/Toasts/ToastBar.tsx
  src/utils/broker_handler.ts
Due: eslint --fix, prettier --write

update version
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(changeset): Allow to pass signer options (e.g. `nonce`) in `contractTx` & `deployContract`
  .changeset/little-ducks-act.md
Due: prettier --write

feat: Allow to pass signer options (e.g. `nonce`) in `contractTx` & `deployContract`
  src/helpers/contractCall.ts
  src/helpers/deployContract.ts
Due: eslint --fix, prettier --write

chore: Update dependencies
  examples/react-ts/package.json
  examples/scripts-ts/package.json
  package.json
  pnpm-lock.yaml
  src/helpers/getNightlyAdapter.ts
Due: eslint --fix, prettier --write

feat(ci): Update release workflow
  .github/workflows/release.yml
Due: prettier --write

feat: add zero canary
  src/chains.ts
Due: eslint --fix, prettier --write

Fix frozen balance
  src/helpers/getBalance.ts
Due: eslint --fix, prettier --write

Alternative fix
  src/helpers/getBalance.ts
Due: eslint --fix, prettier --write

docs(changeset): Fix frozen balance
  .changeset/tiny-geese-yawn.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{md,json,yml,yaml})
