Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": "prettier --write"
}

chore: Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Add promisified `transferBalance` & `transferFullBalance` helpers
  src/helpers/index.ts
  src/helpers/transferBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.38
  package.json
Due: prettier --write

feat: Return block number of deployment in `deployContract`
  src/helpers/deployContract.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.39
  package.json
Due: prettier --write

feat: Add `isWalletInstalled` and `enableWallet` extension helpers
  src/wallets.ts
Due: eslint --fix, prettier --write

feat: Implement dedicated wallet/extension connections
  package.json
  src/helpers/accountsAreEqual.ts
  src/helpers/contractCall.ts
  src/provider.tsx
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.40
  package.json
Due: prettier --write

feat: Remove `formatBalance` replacements
  src/helpers/formatBalance.ts
  src/helpers/getBalance.ts
  src/helpers/index.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.41
  package.json
Due: prettier --write

feat: Add `isInitialized` & `isInitializing` state variables
  src/provider.tsx
Due: none

feat: Improve default disconnection behavior
  src/provider.tsx
Due: none

Chore: release v0.0.1-alpha.42
  package.json
Due: prettier --write

feat: Make `useBalance` & `getBalance` return chain-specific unit & decimals even w/o address
  src/helpers/getBalance.ts
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.43
  package.json
Due: prettier --write

feat: Optionally supply `latestActiveAccount` to `connect` to prefer most recent account
  src/provider.tsx
Due: none

Chore: release v0.0.1-alpha.44
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.45
  package.json
Due: prettier --write

fix: Release script configuration regression
  .release-it.json
Due: prettier --write

Chore: release v0.0.1-alpha.46
  package.json
Due: prettier --write

feat: Improve behavior on external disconnects
  src/provider.tsx
Due: none

Chore: release v0.0.1-alpha.47
  package.json
Due: prettier --write

feat: Implement `watchBalance` & update `useBalance` with optional subscribing
  src/helpers/getBalance.ts
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.48
  package.json
Due: prettier --write

feat: Wait until block `isFinalized` (keep `isInBlock` for substrate-contracts-node)
  src/helpers/contractCall.ts
Due: eslint --fix, prettier --write

feat: Improve `contractCall` & `decodeOutput` error handling
  src/helpers/contractCall.ts
  src/helpers/decodeOutput.ts
  src/helpers/getBalance.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.49
  package.json
Due: prettier --write

feat: Improve typings of chain explorer urls
  src/chains.ts
Due: eslint --fix, prettier --write
