Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Minor types issue
  src/index.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.9
  package.json
Due: prettier --write

feat: Add `changesets` & Replace `release-it`
  .changeset/config.json
  .github/workflows/release.yml
  .nvmrc
  .release-it.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Do not automatically add PRs to project board
  .github/workflows/add-to-project.yml
Due: prettier --write

feat: Add `simple-git-hooks` & Replace `husky`
  .lintstagedrc.json
  .simple-git-hooks.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: Improve `eslint` & `prettier` setup
  .eslintignore
  .gitignore
  .prettierignore
  .vscode/settings.json
Due: prettier --write

feat: Improve code organization (types-refactorings; `@/` import schema)
  src/data/PSP22_ASSETS.json
  src/helpers/getAbi.ts
  src/helpers/getPSP22Asset.ts
  src/helpers/getPSP22Balances.ts
  src/helpers/initPolkadotJs.ts
  src/hooks/useBalance.ts
  src/hooks/useContract.ts
  src/hooks/usePSP22Balances.ts
  src/hooks/useRegisteredContract.ts
  src/metadata/psp22.json
  src/provider.tsx
  src/registry.ts
  src/types/ChainAsset.ts
  src/types/SubstrateDeployment.ts
  src/types/SubstrateWallet.ts
  src/types/UseInkathonProviderContext.ts
  src/types/index.ts
  src/wallets.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: Minor asset-related refactorings
  src/assets.ts
  src/helpers/getPSP22Asset.ts
  src/helpers/getPSP22Balances.ts
  src/helpers/index.ts
Due: eslint --fix, prettier --write

chore: Minor setup improvements (type-check script, release-workflow improvement)
  .github/workflows/release.yml
  package.json
Due: prettier --write

feat: Improve README significantly & Add CONTRIBUTING guide
  CONTRIBUTING.md
  README.md
  inkathon-devtooling-banner.png
Due: prettier --write

docs(changeset): Setup & workspace improvements
  .changeset/thirty-ravens-swim.md
Due: prettier --write

docs(changeset): Complete README overhaul and addition of CONTRIBUTING guidelines
  .changeset/blue-pumpkins-live.md
Due: prettier --write

docs(changeset): Types refactorings into dedicated files
  .changeset/dull-melons-walk.md
Due: prettier --write

chore: Minor README improvement
  README.md
Due: prettier --write

fix: Changeset release workflow
  .github/workflows/release.yml
  package.json
Due: prettier --write

add support Nightly Connect
  assets/wallet-logos/nightly@128w.png
  assets/wallet-logos/nightly@512w.png
  assets/wallet-logos/nightlyConnect@128w.png
  assets/wallet-logos/nightlyConnect@512w.png
  package.json
  pnpm-lock.yaml
  src/helpers/getNightlyAdapter.ts
  src/provider.tsx
  src/wallets.ts
Due: eslint --fix, prettier --write

change buildLazy to build
  src/helpers/getNightlyAdapter.ts
Due: eslint --fix, prettier --write

fix bundle bug
  package.json
  pnpm-lock.yaml
  src/wallets.ts
Due: eslint --fix, prettier --write

fix: Rococo contracts chain rpc
  src/chains.ts
Due: eslint --fix, prettier --write

feat: Add vanilla react example project (with basic connection abilities)
  .changeset/config.json
  README.md
  examples/react-ts/.eslintrc.cjs
  examples/react-ts/.gitignore
  examples/react-ts/README.md
  examples/react-ts/index.html
  examples/react-ts/package.json
  examples/react-ts/pnpm-lock.yaml
  examples/react-ts/src/App.tsx
  examples/react-ts/src/main.tsx
  examples/react-ts/src/vite-env.d.ts
  examples/react-ts/tsconfig.json
  examples/react-ts/tsconfig.node.json
  examples/react-ts/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat: Add vanilla react example project (with basic connection abilities)
  .changeset/olive-teachers-compete.md
  pnpm-workspace.yaml
Due: prettier --write

feat: Add vanilla CLI scripts example project (with basic transfer script)
  .changeset/config.json
  README.md
  examples/react-ts/README.md
  examples/react-ts/package.json
  examples/react-ts/tsconfig.json
  examples/scripts-ts/.eslintrc.cjs
  examples/scripts-ts/.gitignore
  examples/scripts-ts/README.md
  examples/scripts-ts/package.json
  examples/scripts-ts/pnpm-lock.yaml
  examples/scripts-ts/src/index.ts
  examples/scripts-ts/src/utils/initPolkadotJs.ts
  examples/scripts-ts/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(changeset): Add example packages (Vanilla React & Basic Scripts) to the workspace for development ease and demonstration purposes.
  .changeset/large-numbers-shave.md
Due: prettier --write

docs(changeset): Added native support for more !ink compatible testnets (t0rn, Bit.Country, Peaq, Pendulum, Phala) and mainnets (Khala, Phala, Amplitude, Pendulum)
  .changeset/shiny-panthers-fold.md
Due: prettier --write

feat: Add support for all ink!-compatible chains
  src/chains.ts
Due: eslint --fix, prettier --write

feat: Minor chain improvements/fixes
  src/chains.ts
  src/helpers/initPolkadotJs.ts
  src/provider.tsx
  src/types/SubstrateChain.ts
  src/types/UseInkathonProviderContext.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

change version
  package.json
Due: prettier --write

add process config to vite
  examples/react-ts/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

undo change package version
  package.json
Due: prettier --write

feat(examples): Improve react example with chain/wallet selector, balance display, etc.
  examples/react-ts/index.html
  examples/react-ts/src/App.tsx
Due: none

feat: Improve transfer & contract tx utils with better error decoding and minimum balance checks.
  src/helpers/checkIfBalanceSufficient.ts
  src/helpers/contractCall.ts
  src/helpers/getExtrinsicErrorMessage.ts
  src/helpers/index.ts
  src/helpers/transferBalance.ts
Due: eslint --fix, prettier --write

feat(examples): Refactor react example & Add dialog to transfer tokens
  .gitignore
  examples/react-ts/favicon.ico
  examples/react-ts/index.html
  examples/react-ts/package.json
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/ConnectionSettings.tsx
  examples/react-ts/src/components/ConnectionStatus.tsx
  examples/react-ts/src/components/TransferDialog.tsx
  examples/react-ts/src/main.tsx
  examples/react-ts/src/styles/pico.min.css
  examples/react-ts/src/styles/pico.min.css.map
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(changeset): Improve transfer & contract tx utils (i.e. `transferBalance`, `transferFullBalance`, `contractTx`) with better error decoding and minimum balance checks upfront.
  .changeset/neat-fishes-crash.md
Due: prettier --write

docs(changeset): Refactor React (TS) example components and add dialog component to transfer native tokens that showcases `transferBalance`.
  .changeset/four-seahorses-cough.md
Due: prettier --write

correction of a typo
  src/wallets.ts
Due: eslint --fix, prettier --write

adding the broker constants
  README.md
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/Test.tsx
  examples/react-ts/src/main.tsx
  package.json
  src/hooks/getConstants.ts
  src/hooks/index.ts
  src/types/GetConstants.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

change from comments
  assets/wallet-logos/nightly@128w.png
  assets/wallet-logos/nightly@512w.png
  assets/wallet-logos/nightlyConnect@128w.png
  assets/wallet-logos/nightlyConnect@512w.png
  package.json
  src/helpers/getNightlyAdapter.ts
  src/helpers/getWebsiteIcon.ts
  src/provider.tsx
  src/wallets.ts
Due: eslint --fix, prettier --write

chore: Update dependencies
  examples/react-ts/package.json
  examples/scripts-ts/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: Align nightly wallet logos with the rest
  assets/wallet-logos/nightly@128w.png
  assets/wallet-logos/nightly@512w.png
  assets/wallet-logos/nightlyConnect@128w.png
  assets/wallet-logos/nightlyConnect@512w.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{md,json,yml,yaml})
