Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

change banner
  README.md
  inkathon-devtooling-banner.png
  lastic-banner.png
Due: prettier --write

feat: Add support for type-safe contracts via new hook `useRegisteredTypedContract`
  README.md
  package.json
  pnpm-lock.yaml
  src/hooks/index.ts
  src/hooks/useRegisteredContract.ts
  src/hooks/useRegisteredTypedContract.ts
  src/types/TypechainContractConstructor.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

make failing creating a contract instance more transparent
  src/hooks/useContract.ts
  src/hooks/useRegisteredContract.ts
Due: eslint --fix, prettier --write

due to types abi can't be undefined
  src/helpers/getDeployment.ts
Due: eslint --fix, prettier --write

fix typo
  src/provider.tsx
Due: none

docs(changeset): throws Error when trying to access unavailable contract deployment
  .changeset/real-bats-enjoy.md
Due: prettier --write

marks `rococo` as deprecated and should be replaced with `contracts`
  src/chains.ts
Due: eslint --fix, prettier --write

replace duplicate information
  src/chains.ts
Due: eslint --fix, prettier --write

docs(changeset): marks `rococo` chains data as deprecated and should be replaced with `contracts`, as `rococo` is the testnet relay chain not the smart contracts chain users interact with
  .changeset/rude-coats-invent.md
Due: prettier --write

feat: Add tornoa network chains
  src/chains.ts
  src/types/SubstrateChain.ts
Due: eslint --fix, prettier --write

chore: Sort chains alphabetically
  src/chains.ts
Due: eslint --fix, prettier --write

docs(changeset): Add tornoa network (mainnet & testnet)
  .changeset/spicy-keys-flash.md
Due: prettier --write

chore: Update dependencies
  examples/react-ts/package.json
  examples/scripts-ts/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(changeset): Revert to previous (silently failing) behavior when loading deployment metadata, due to it's async nature.
  .changeset/nice-pants-serve.md
Due: prettier --write

fix: Revert to previous deployment loading behavior
  src/hooks/useRegisteredContract.ts
Due: eslint --fix, prettier --write

setup vitest
  package.json
  pnpm-lock.yaml
  src/provider.test.tsx
  src/provider.tsx
  src/types/UseInkathonProviderContext.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

add changeset
  .changeset/gorgeous-keys-eat.md
Due: prettier --write

adds github workflow
  .github/workflows/test.yml
  package.json
Due: prettier --write

fix test workflow
  .github/workflows/test.yml
Due: prettier --write

update branch name
  .github/workflows/test.yml
Due: prettier --write

wallet change and relay balance added
  examples/react-ts/src/components/ConnectionStatus.tsx
  package.json
  pnpm-lock.yaml
  src/hooks/balance/useBalance.ts
  src/wallets.ts
Due: eslint --fix, prettier --write

added westend
  package.json
  src/chains.ts
Due: eslint --fix, prettier --write

add supoprtedWallets value to provider
  src/provider.tsx
  src/types/UseInkathonProviderContext.ts
Due: eslint --fix, prettier --write

feat: Prevent NightlyConnect to pop up on init when no other wallet is available
  src/provider.tsx
Due: none

docs(changeset): Prevent NightlyConnect to pop up on init when no other wallet is available
  .changeset/little-peaches-search.md
Due: prettier --write

docs(changeset): Add option to pass `supportedWallets` to the provider to only allow a subset of `allSubstrateWallets` or pass custom wallets.
  .changeset/hot-cycles-smash.md
Due: prettier --write

chore: Add .changeset to prettierignore
  .prettierignore
Due: none

upgrade
  package.json
  pnpm-lock.yaml
Due: prettier --write

added husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/hooks/balance/useBalance.ts
  src/wallets.ts
Due: eslint --fix, prettier --write

0.2.2
  package.json
Due: prettier --write

add precommit
  .husky/pre-commit
  package.json
Due: prettier --write

resolving build issues
  package.json
  src/helpers/getNightlyAdapter.ts
  src/helpers/index.ts
  src/provider.tsx
  src/wallets.ts
Due: eslint --fix, prettier --write

adding coretime kusama chain
  package.json
  src/chains.ts
Due: eslint --fix, prettier --write

testing
  examples/react-ts/src/main.tsx
  package.json
Due: prettier --write

adds smart contract capable Pop Network
  src/chains.ts
Due: eslint --fix, prettier --write

docs(changeset): aadds smart contract capable Pop Network to defined chains
  .changeset/shaggy-countries-decide.md
Due: prettier --write

adds testnet suffix for now
  src/chains.ts
Due: eslint --fix, prettier --write

feat: Add `popNetworkTestnet` to `allSubstrateChains`
  src/chains.ts
Due: eslint --fix, prettier --write

updating version of packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{md,json,yml,yaml})
