Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": "prettier --write"
}

added kusama and polkadot
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
  src/chains.ts
Due: eslint --fix, prettier --write

testing
  examples/react-ts/src/App.tsx
Due: none

change version
  package.json
Due: prettier --write

adding chains, changing name
  README.md
  examples/react-ts/README.md
  examples/react-ts/package.json
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/ConnectionSettings.tsx
  examples/react-ts/src/components/ConnectionStatus.tsx
  examples/react-ts/src/components/Test.tsx
  examples/react-ts/src/components/TransferDialog.tsx
  examples/react-ts/src/main.tsx
  examples/scripts-ts/README.md
  examples/scripts-ts/package.json
  examples/scripts-ts/src/index.ts
  examples/scripts-ts/src/utils/initPolkadotJs.ts
  pnpm-lock.yaml
  src/chains.ts
Due: eslint --fix, prettier --write

better format
  examples/react-ts/src/components/Test.tsx
Due: none

moving things to their places
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/BrokerPallet.tsx
  src/helpers/balance/checkIfBalanceSufficient.ts
  src/helpers/balance/formatBalance.ts
  src/helpers/balance/getBalance.ts
  src/helpers/balance/getPSP22Balances.ts
  src/helpers/balance/transferBalance.ts
  src/helpers/contracts/contractCall.ts
  src/helpers/contracts/deployContract.ts
  src/helpers/contracts/getAbi.ts
  src/helpers/contracts/getAbiMessage.ts
  src/helpers/decodeOutput.ts
  src/helpers/index.ts
  src/hooks/balance/useBalance.ts
  src/hooks/balance/usePSP22Balances.ts
  src/hooks/broker/getConstants.ts
  src/hooks/broker/purchaseInteract.ts
  src/hooks/contracts/useContract.ts
  src/hooks/index.ts
  src/hooks/useRegisteredContract.ts
  src/types/broker/GetConstants.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

moving things to their places
  src/helpers/balance/accountsAreEqual.ts
  src/helpers/balance/getPSP22Balances.ts
  src/helpers/balance/transferBalance.ts
  src/helpers/contracts/contractCall.ts
  src/helpers/contracts/decodeOutput.ts
  src/helpers/contracts/deployContract.ts
  src/helpers/contracts/getExtrinsicErrorMessage.ts
  src/helpers/contracts/getGasLimit.ts
  src/helpers/contracts/unwrapResult.ts
  src/helpers/index.ts
Due: eslint --fix, prettier --write

adding purchase interact
  src/helpers/contracts/getAbi.ts
  src/helpers/contracts/metadata/psp22.json
  src/types/broker/PurchaseInteract.ts
Due: eslint --fix, prettier --write

connecting to a chain that has broker pallet without errors
  .vscode/settings.json
  examples/react-ts/package.json
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/BrokerConstants.tsx
  examples/react-ts/src/components/BrokerPallet.tsx
  examples/react-ts/src/components/PurchaseInteractor.tsx
  pnpm-lock.yaml
  src/helpers/broker/checkIfBrokerExists.ts
  src/helpers/index.ts
  src/hooks/broker/getConstants.ts
  src/hooks/broker/purchaseInteract.ts
Due: eslint --fix, prettier --write

adding tx button
  examples/react-ts/src/components/PurchaseInteractor.tsx
  package.json
  pnpm-lock.yaml
  src/hooks/broker/txButton.ts
  src/hooks/index.ts
  src/utils/broker.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

converting to typescript
  src/hooks/broker/txButton.ts
  src/utils/broker.ts
  src/utils/broker_handler.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

converting to typescript continuation
  src/hooks/broker/txButton.ts
  src/utils/broker.ts
  src/utils/broker_handler.ts
Due: eslint --fix, prettier --write

few errors with txButton
  examples/react-ts/src/components/PurchaseInteractor.tsx
  src/hooks/broker/txButton.ts
  src/utils/broker_handler.ts
  src/utils/broker_tx.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

this was pain but the transaction button now works
  examples/react-ts/src/components/BrokerPallet.tsx
  examples/react-ts/src/components/PurchaseInteractor.tsx
  src/hooks/broker/txButton.ts
  src/utils/broker_tx.ts
Due: eslint --fix, prettier --write

no errors
  examples/react-ts/src/components/PurchaseInteractor.tsx
  src/hooks/broker/txButton.ts
  src/utils/broker_tx.ts
Due: eslint --fix, prettier --write

last changes before bed
  examples/react-ts/src/components/PurchaseInteractor.tsx
  src/hooks/broker/txButton.ts
Due: eslint --fix, prettier --write

broker events
  examples/react-ts/src/components/BrokerEvents.tsx
  examples/react-ts/src/components/BrokerPallet.tsx
  examples/react-ts/src/components/Pu
Due: none

broker time
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/BlockTime.tsx
  examples/react-ts/src/components/BrokerEvents.tsx
  examples/react-ts/src/components/Pu
Due: none

adding time, adding formating to broker events
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/BlockTimeTest.tsx
  examples/react-ts/src/components/BrokerEvents.tsx
  src/helpers/broker/blockTime.ts
  src/helpers/index.ts
  src/types/broker/BrokerEventTypes.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

able to determine time
  examples/react-ts/src/components/BlockTimeTest.tsx
  examples/react-ts/src/components/BrokerEvents.tsx
  src/helpers/broker/blockTime.ts
Due: eslint --fix, prettier --write

adding sale info
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/BlockTimeTest.tsx
  examples/react-ts/src/components/BrokerEvents.tsx
  examples/react-ts/src/components/BrokerPallet.tsx
  examples/react-ts/src/components/BrokerSaleInfo.tsx
  src/helpers/broker/blockTime.ts
Due: eslint --fix, prettier --write

adding nice purchase display
  examples/react-ts/src/components/BrokerPallet.tsx
  examples/react-ts/src/components/BrokerSaleInfo.tsx
Due: none

sale status updating
  examples/react-ts/src/components/BrokerSaleInfo.tsx
Due: none

calculations of sale price
  examples/react-ts/src/components/BrokerSaleInfo.tsx
Due: none

calculating price successfully
  examples/react-ts/src/components/BrokerSaleInfo.tsx
Due: none

time is dependent on relay time dfuq?
  examples/react-ts/src/components/BrokerSaleInfo.tsx
  src/helpers/broker/blockTime.ts
Due: eslint --fix, prettier --write

able to correctly determine when the purchase period ends
  examples/react-ts/src/components/BrokerSaleInfo.tsx
  src/helpers/broker/blockTime.ts
Due: eslint --fix, prettier --write

removing unrelevant sale info
  examples/react-ts/src/components/BrokerSaleInfo.tsx
  examples/react-ts/src/main.tsx
Due: none

able to connect to relay chain
  examples/react-ts/src/components/BrokerSaleInfo.tsx
  examples/react-ts/src/components/ConnectionStatus.tsx
  examples/react-ts/src/main.tsx
  src/provider.tsx
  src/types/UseInkathonProviderContext.ts
Due: eslint --fix, prettier --write

calulating region length
  examples/react-ts/src/components/BrokerSaleInfo.tsx
Due: none

amount of utilization added
  examples/react-ts/src/components/BrokerSaleInfo.tsx
Due: none

changing version
  package.json
Due: prettier --write

update package, change blocksTimeformat
  package.json
  pnpm-lock.yaml
  src/helpers/broker/blockTime.ts
Due: eslint --fix, prettier --write

change of number
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

adding changes to functions
  README.md
  examples/react-ts/pnpm-lock.yaml
  examples/react-ts/src/App.tsx
  examples/react-ts/src/components/BlockTime.tsx
  examples/react-ts/src/components/BrokerConstants.tsx
  examples/react-ts/src/components/BrokerEvents.tsx
  examples/react-ts/src/components/BrokerPallet.tsx
  examples/react-ts/src/components/BrokerRegionData.tsx
  examples/react-ts/src/components/BrokerSaleInfo.tsx
  examples/react-ts/src/components/ConnectionSettings.tsx
  examples/react-ts/src/components/ConnectionStatus.tsx
  examples/react-ts/src/components/PurchaseInteractor.tsx
  pnpm-lock.yaml
  src/chains.ts
  src/helpers/balance/getPSP22Balances.ts
  src/helpers/balance/transferBalance.ts
  src/helpers/broker/blockTime.ts
  src/helpers/broker/checkIfBrokerExists.ts
  src/helpers/contracts/metadata/psp22.json
  src/helpers/index.ts
  src/hooks/broker/getConstants.ts
  src/hooks/broker/purchaseInteract.ts
  src/hooks/broker/txButton.ts
  src/hooks/contracts/useRegisteredContract.ts
  src/hooks/index.ts
  src/provider.tsx
  src/types/broker/BrokerEventTypes.ts
  src/types/broker/GetConstants.ts
  src/utils/broker.ts
  src/utils/broker_handler.ts
  src/utils/broker_tx.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

broker compatibility
  src/hooks/broker/txButton.ts
  src/hooks/index.ts
Due: eslint --fix, prettier --write
