Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": "prettier --write"
}

feat: Allow `defaultChain` to be passed as network id string
  src/provider.tsx
Due: none

feat: Add descriptive error message when none or undefined `defaultChain` is provided
  src/provider.tsx
Due: none

chore: Add documentation
  docs/enums/SubstrateWalletPlatform.html
  docs/enums/UseInkathonErrorCode.html
  docs/functions/accountArraysAreEqual.html
  docs/functions/accountsAreEqual.html
  docs/functions/contractCallDryRun.html
  docs/functions/contractQuery.html
  docs/functions/contractTx.html
  docs/functions/deployContract.html
  docs/functions/getDeployment.html
  docs/functions/getGasLimit.html
  docs/functions/getMaxGasLimit.html
  docs/functions/getSubstrateChain.html
  docs/functions/getSubstrateWallet.html
  docs/functions/registerDeployment.html
  docs/functions/registerDeployments.html
  docs/functions/unwrapResultOrDefault.html
  docs/functions/unwrapResultOrError.html
  docs/functions/useBalance.html
  docs/functions/useContract.html
  docs/functions/useInkathon.html
  docs/functions/useRegisteredContract.html
  docs/interfaces/SubstrateChain.html
  docs/interfaces/SubstrateDeployment.html
  docs/interfaces/SubstrateWallet.html
  docs/interfaces/UseInkathonError.html
  docs/interfaces/UseInkathonProviderProps.html
  docs/types/UseInkathonProviderContextType.html
  docs/variables/UseInkathonProviderContext.html
  docs/variables/alephzeroTestnet.html
  docs/variables/allSubstrateChains.html
  docs/variables/allSubstrateWallets.html
  docs/variables/astar.html
  docs/variables/development.html
  docs/variables/nova.html
  docs/variables/polkadotjs.html
  docs/variables/rococo.html
  docs/variables/shibuya.html
  docs/variables/shiden.html
  docs/variables/subwallet.html
  docs/variables/talisman.html
Due: none

Chore: release v0.0.1-alpha.23
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.24
  package.json
Due: prettier --write

feat: UseInkathon in Provider check
  src/provider.tsx
Due: none

Chore: release v0.0.1-alpha.25
  package.json
Due: prettier --write

chore: Minor README changes
  README.md
Due: prettier --write

feat: Ability to pass custom polkadot.js api options
  src/provider.tsx
Due: none

Chore: release v0.0.1-alpha.26
  package.json
Due: prettier --write

feat: Add `getDeploymentContract` helper
  src/helpers/index.ts
  src/registry.ts
Due: eslint --fix, prettier --write

feat: Add `initPolkadotJs` helper
  src/helpers/initPolkadotJs.ts
  src/provider.tsx
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.27
  package.json
Due: prettier --write

feat: Refactor & improve `getAbiMessage`
  src/helpers/contractCall.ts
  src/helpers/getAbiMessage.ts
Due: eslint --fix, prettier --write

feat: Add `decodeOutput` helper function (taken & slightly modified from contracts-ui)
  src/helpers/decodeOutput.ts
Due: eslint --fix, prettier --write

feat: Improve `contractTx` (promisify & add dry-run error decoding)
  src/helpers/contractCall.ts
  src/helpers/index.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.28
  package.json
Due: prettier --write

chore: Add minor readme notice
  README.md
Due: prettier --write

fix: Ensure signer is always set
  src/provider.tsx
Due: none

chore: Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Catch user cancelled transactions
  src/helpers/contractCall.ts
Due: eslint --fix, prettier --write

feat: Improve `decodeOutput` by also returning output object
  src/helpers/contractCall.ts
  src/helpers/decodeOutput.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.29
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.30
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.31
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.32
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.33
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.34
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.35
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.36
  package.json
Due: prettier --write

feat: Add `alephzero` mainnet network
  src/chains.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.37
  package.json
Due: prettier --write
