Repository scio-labs/use-inkathon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{md,json,yml,yaml}": "prettier --write"
}

feat: Add contract call and gas estimation (dryRun) helpers
  src/helpers/contractCall.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.14
  package.json
Due: prettier --write

fix: Correct testnet azero explorer url
  src/chains.ts
Due: eslint --fix, prettier --write

chore: Update readme
  README.md
Due: prettier --write

feat: Add `getMaxGasLimit` helper
  src/helpers/getGasLimit.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.15
  package.json
Due: prettier --write

chore: Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Chore: release v0.0.1-alpha.16
  package.json
Due: prettier --write

Chore: release v0.0.1-alpha.17
  package.json
Due: prettier --write

chore: Update index files to use generate-index plugin
  .vscode/extensions.json
  src/helpers/index.ts
  src/hooks/index.ts
  src/index.ts
Due: eslint --fix, prettier --write

fix: Reduce `refTime` of max gas limit
  src/helpers/getGasLimit.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.18
  package.json
Due: prettier --write

fix: Revert gas-limit change and only set it lower for deployments
  src/helpers/deployContract.ts
  src/helpers/getGasLimit.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.19
  package.json
Due: prettier --write

Update provider.tsx
  src/provider.tsx
Due: none

feat: Add error handling in `deployContract`
  src/helpers/deployContract.ts
Due: eslint --fix, prettier --write

Chore: release v0.0.1-alpha.20
  package.json
Due: prettier --write

fix: Shibuya faucet link
  src/chains.ts
Due: eslint --fix, prettier --write

feat: Add decimal fetching to `useBalance`
  src/hooks/useBalance.ts
Due: eslint --fix, prettier --write

chore: Improve shibuya network definition
  src/chains.ts
Due: eslint --fix, prettier --write

feat: Add `active`-prefix to `account` & `signer`
  README.md
  src/provider.tsx
Due: prettier --write

Chore: release v0.0.1-alpha.21
  package.json
Due: prettier --write

feat: Update chain definitions (remove not-yet supported ones; add ss58Prefix)
  src/chains.ts
Due: eslint --fix, prettier --write

fix: Do not update contracts when api isConnecting
  src/hooks/useContract.ts
Due: eslint --fix, prettier --write

fix: Prevent false overwrites by checking for `idx >= 0`
  src/registry.ts
Due: eslint --fix, prettier --write

feat: Update switch active chain behavior and rename to `switchActiveChain`
  src/provider.tsx
Due: none

chore: Update package development instructions in README
  README.md
Due: prettier --write

Chore: release v0.0.1-alpha.22
  package.json
Due: prettier --write

fix: Prevent accessing undefined string error
  src/chains.ts
Due: eslint --fix, prettier --write
